<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Números da Mega-Sena</title>
    <!-- Incluindo os estilos do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Incluindo os estilos do Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style>
        body {
            background-color: #f4f4f4;
        }

        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin-top: 30px;
        }

        .intro-section {
            text-align: center;
            padding: 40px 0;
        }

        #banner {
            width: 60%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #17a2b8;
            margin-bottom: 20px;
        }

        pre {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
        }

        .note {
            font-style: italic;
        }

        .animated {
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        .fadeIn {
            animation-name: fadeIn;
        }

        .bounceIn {
            animation-name: bounceIn;
        }
    </style>
</head>

<body>
    <div class="container animated fadeIn">
        <div class="intro-section animated bounceIn">
            <h1 class="text-center">Bem-vindo à API de Números da Mega-Sena</h1>
            <p>Obtenha sequências de números da Mega-Sena de forma fácil e rápida!</p>
            <img src="https://proxy.olhardigital.com.br/wp-content/uploads/2022/10/mega-sena-1.jpg"
                alt="Imagem da Mega-Sena" class="img-fluid" id="banner">
        </div>

        <div class="route-section">
            <h2>Rotas</h2>

            <div class="route">
                <h3>1. Rota para Obter uma Sequência de Números da Mega-Sena</h3>
                <p><strong>URL:</strong> /numeros-megassena</p>
                <p><strong>Método:</strong> GET</p>
                <p><strong>Descrição:</strong> Esta rota retorna sequências de números da Mega-Sena com base em filtros
                    específicos. Você pode utilizar o parâmetro "filtro" para especificar o tipo de sequência desejada.
                </p>

                <h4>Parâmetros</h4>
                <ul>
                    <li><strong>filtro (opcional):</strong> Um parâmetro de consulta que especifica o filtro para a
                        sequência desejada.
                        <ul>
                            <li>"pares": Retorna uma sequência contendo apenas números pares.</li>
                            <li>"impares": Retorna uma sequência contendo apenas números ímpares.</li>
                        </ul>
                    </li>
                </ul>

                <h4>Exemplo de Requisição</h4>
                <ul>
                    <li>Obtendo uma sequência completa:
                        <pre>GET /numeros-megassena</pre>
                    </li>
                    <li>Obtendo uma sequência de números pares:
                        <pre>GET /numeros-megassena?filtro=pares</pre>
                    </li>
                    <li>Obtendo uma sequência de números ímpares:
                        <pre>GET /numeros-megassena?filtro=impares</pre>
                    </li>
                </ul>

                <h4>Resposta de Exemplo</h4>
                <ul>
                    <li>Sequência completa de números da Mega-Sena:
                        <pre>[5, 12, 22, 30, 45, 55]</pre>
                    </li>
                    <li>Sequência de números pares da Mega-Sena:
                        <pre>[4, 12, 22, 30, 46, 56]</pre>
                    </li>
                    <li>Sequência de números ímpares da Mega-Sena:
                        <pre>[41, 1, 11, 13, 5, 25]</pre>
                    </li>
                    <li>Filtro inválido (quando o parâmetro "filtro" não é "pares" ou "impares"):
                        <pre>Filtro inválido! Tente novamente.</pre>
                    </li>
                </ul>
            </div>
        </div>

        <div class="route-section">
            <h2>Recursos</h2>

            <div class="resource">
                <h3>Módulo Personalizado (modulos.js)</h3>
                <p>Este servidor utiliza um módulo personalizado chamado modulos para gerar a sequência de números da
                    Mega-Sena.</p>
            </div>

            <div class="resource">
                <h3>Sequência de Números</h3>
                <p>A sequência de números é gerada pelo módulo modulos.js e é composta por seis números.</p>
            </div>
        </div>

        <div class="route-section">
            <h2>Iniciando o Servidor</h2>

            <div class="server-startup">
                <h3>Exemplo de Inicialização do Servidor</h3>
                <p>O servidor é iniciado na porta 3000.</p>
                <pre>http://localhost:3000/</pre>
                <p>Servidor rodando na porta 3000</p>
            </div>
        </div>

        <div class="route-section">
            <h2>Observações</h2>

            <p class="note">Esta funcionalidade permite obter sequências específicas de números da Mega-Sena com base em
                filtros.</p>
            <p class="note">Lembre-se de utilizar o parâmetro "filtro" na consulta para especificar o tipo de sequência
                desejada.</p>
            <p class="note">Os filtros disponíveis são "pares" e "impares."</p>
            <p class="note">Esta API é uma implementação simples apenas para fins ilustrativos. A sequência de números
                gerada é fictícia e não tem relação com os resultados reais da Mega-Sena.</p>
        </div>
    </div>
</body>

</html>